<section class="m-submit-comment l-section">
    <!--<header class="header">Post</header>-->
    <form
        method="post" action="{{urlSubmitComment}}"
        enctype="multipart/form-data" data-focus-on="input:first">
        <div class="post-comment l-horizontal l-fill-last">
            <div class="avatar">
                <img src="{{#user.urlProfilePic}}48x48{{/user.urlProfilePic}}" />
            </div>
            <div class="content">
                <input type="hidden" name="csrf" value="{{csrf}}"/>
                <input type="hidden" name="source" value="ideas.details"/>
                <input type="hidden" name="ideaId" value="{{idea.suggestionId}}"/>
                <div>
                    <textarea name="comment" tabindex="1"
                              placeholder="I have a grand opinion on this merry topic!">{{comment}}</textarea>
                </div>
                <div class="toolbar">
                    <!--<button class="button button-rounded button-flat button-flat-action"><i class="fa fa-comment"></i> Post Comment</button>-->
                    <button class="button button-small button-rounded button-flat button-flat-action">Post Comment</button>
                </div>
            </div>
        </div>
    </form>
</section>