<div class="idea-state-header">
	<a href="#" class="state-button-2d button-dark" title="Under Discussion">
		<div class="label-helper">
			<div class="label-actual">
				Discuss
			</div>
		</div>
		<div class="icon-wrapper">
			<i class="icon-comments"></i>
		</div>
	</a>
	<div class="hidden">
		<div class="button-connector connector-dark connector-full"></div>
		<a href="#" class="state-button-2d button-dark" title="Under Vote">
			<div class="label-helper">
				<div class="label-actual">
					Vote
				</div>
			</div>
			<div class="icon-wrapper">
				<i class="icon-thumbs-up"></i>
			</div>
		</a>
	</div>
	<div class="button-connector connector-dark connector-full"></div>
	<a href="#" class="state-button-2d button-dark" title="Being Built">
		<div class="label-helper">
			<div class="label-actual">
				Build
			</div>
		</div>
		<div class="icon-wrapper">
			<i class="icon-wrench"></i>
		</div>
	</a>
	<div class="button-connector"></div>
	<a href="#" class="state-button-2d button-disabled" title="Completed">
		<div class="label-helper">
			<div class="label-actual">
				Done
			</div>
		</div>
		<div class="icon-wrapper">
			<i class="icon-ok"></i>
		</div>
	</a>
</div>