{#this is a prototype for designing}

<img src="/img/design/votable-list-item.png"/>

<div class="m-buglist-item no-template">

	<div class="votebox-container">
		<div class="m-buglist-item-votebox-simple">
			<div class="vote-count">
				<div class="vote-counter">34</div>
				<div class="vote-label">votes</div>
			</div>
			<div class="arrows">
				<a class="up-vote voted" href="#">
					<i class="icomoon-arrow-up"></i>
				</a>
				<a class="down-vote" href="#">
					<i class="icomoon-arrow-down"></i>
				</a>
			</div>
		</div>
	</div>

	<div class="suggestion-header">

		<div class="title-line">
			<div class="tag tag-audio">AUDIO</div>
			<a class="title" href="#">Private Sound Mode - Broadcast Audio over WiFi</a>
		</div>

		<div class="byline">
			posted 2 months ago by
			<span class="avatar-container" style="background-image: url('/img/placeholders/avatar9.jpg')"></span>
			<span class="name">Samwell Tarly</span>
		</div>
	</div>

</div>

<br>
the rest<br>
<br>