<div class="right-side-controller">
	<a href="#" class="vote-indicator" title="Upvotes">
		<div class="icon-wrapper">
			<i class="icomoon-arrow-up"></i>
			<div class="label-helper">
				<div class="label-actual">
					50
				</div>
			</div>
		</div>
	</a>
</div>