<div class="media dev-news-comment">
	<div class="pull-left">
	    <a href='#' rel='nofollow' class='avatar'>
	        <div style="background-image: url('{{authorImg}}')"></div>
	    </a>
		<div class="votes">
			<a href="#" title="useful (click again to undo)"><i class="icon-heart"></i></a>
			<a href="#" title="useful (click again to undo)"><i class="icon-comments"></i></a>
		</div>
	</div>
	<div class="media-body">
    <div class='details'>
        <div class='info-row'>
            <div class='name'>{{fullName}}</div>
        </div>
        <div class='markdown-container'>
	        <!--<img src="/img/placeholders/avatar_150x150.jpg" /><br>-->
	        {{{comment}}}
        </div>
    </div>
	</div>
</div>