<div class="m-home">

    <div class="l-hgrid">
        <div class="l-row-4">
            <img src="/img/upvote-logo-1.png" />
        </div>
        <div class="l-row-6">
            <h1>Public Projects</h1>

            <div class="projects-list">
            {{#projects}}
                <div class="project">
                    <a href="{{appUrl}}">{{projectTitle}}</a>
                </div>
            {{/projects}}
            </div>

            <div class="m-buttons-toolbar">
                <a class="m-button" href="/new"><i class="icomoon-plus"></i> Create Project</a>
            </div>
        </div>
    </div>

</div>