@font-face {
	font-family: 'icomoon';
	src:url('#{$font-folder}/icomoon.eot');
	src:url('#{$font-folder}/icomoon.eot?#iefix') format('embedded-opentype'),
	url('#{$font-folder}/icomoon.woff') format('woff'),
	url('#{$font-folder}/icomoon.svg') format('svg'),
	url('#{$font-folder}/icomoon.ttf') format('truetype')
;
	font-weight: normal;
	font-style: normal;
}

[class^="icomoon-"], [class*=" icomoon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoon-home:before {
  content: "\e600";
}
.icomoon-pencil:before {
  content: "\e601";
}
.icomoon-image:before {
  content: "\e602";
}
.icomoon-bullhorn:before {
  content: "\e603";
}
.icomoon-tag:before {
  content: "\e604";
}
.icomoon-tags:before {
  content: "\e605";
}
.icomoon-coin:before {
  content: "\e606";
}
.icomoon-credit:before {
  content: "\e607";
}
.icomoon-location:before {
  content: "\e608";
}
.icomoon-history:before {
  content: "\e609";
}
.icomoon-clock:before {
  content: "\e60a";
}
.icomoon-bell:before {
  content: "\e60b";
}
.icomoon-calendar:before {
  content: "\e60c";
}
.icomoon-undo:before {
  content: "\e60d";
}
.icomoon-redo:before {
  content: "\e60e";
}
.icomoon-bubble:before {
  content: "\e60f";
}
.icomoon-bubbles:before {
  content: "\e610";
}
.icomoon-bubbles2:before {
  content: "\e611";
}
.icomoon-undo2:before {
  content: "\e612";
}
.icomoon-redo2:before {
  content: "\e613";
}
.icomoon-quotes-left:before {
  content: "\e614";
}
.icomoon-search:before {
  content: "\e615";
}
.icomoon-expand:before {
  content: "\e616";
}
.icomoon-contract:before {
  content: "\e617";
}
.icomoon-cog:before {
  content: "\e618";
}
.icomoon-wrench:before {
  content: "\e619";
}
.icomoon-key:before {
  content: "\e61a";
}
.icomoon-lock:before {
  content: "\e61b";
}
.icomoon-bug:before {
  content: "\e61c";
}
.icomoon-aid:before {
  content: "\e61d";
}
.icomoon-cog2:before {
  content: "\e61e";
}
.icomoon-rocket:before {
  content: "\e61f";
}
.icomoon-fire:before {
  content: "\e620";
}
.icomoon-lab:before {
  content: "\e621";
}
.icomoon-remove:before {
  content: "\e622";
}
.icomoon-remove2:before {
  content: "\e623";
}
.icomoon-signup:before {
  content: "\e624";
}
.icomoon-earth:before {
  content: "\e625";
}
.icomoon-globe:before {
  content: "\e626";
}
.icomoon-link:before {
  content: "\e627";
}
.icomoon-flag:before {
  content: "\e628";
}
.icomoon-attachment:before {
  content: "\e629";
}
.icomoon-eye:before {
  content: "\e62a";
}
.icomoon-bookmark:before {
  content: "\e62b";
}
.icomoon-bookmarks:before {
  content: "\e62c";
}
.icomoon-star:before {
  content: "\e62d";
}
.icomoon-heart:before {
  content: "\e62e";
}
.icomoon-star2:before {
  content: "\e62f";
}
.icomoon-heart2:before {
  content: "\e630";
}
.icomoon-notification:before {
  content: "\e631";
}
.icomoon-question:before {
  content: "\e632";
}
.icomoon-info:before {
  content: "\e633";
}
.icomoon-close:before {
  content: "\e634";
}
.icomoon-checkmark:before {
  content: "\e635";
}
.icomoon-minus:before {
  content: "\e636";
}
.icomoon-plus:before {
  content: "\e637";
}
.icomoon-share:before {
  content: "\e638";
}
.icomoon-checkmark:before {
  content: "\e639";
}
.icomoon-cancel:before {
  content: "\e63a";
}
.icomoon-comment:before {
  content: "\e63b";
}
.icomoon-bug:before {
  content: "\e63c";
}
.icomoon-earth:before {
  content: "\e63d";
}
.icomoon-filter:before {
  content: "\e63e";
}
.icomoon-filter2:before {
  content: "\e63f";
}
.icomoon-facebook:before {
  content: "\e640";
}
.icomoon-twitter:before {
  content: "\e641";
}
.icomoon-reddit:before {
  content: "\e642";
}
.icomoon-tumblr:before {
  content: "\e643";
}
.icomoon-github:before {
  content: "\e644";
}
.icomoon-arrow-up:before {
  content: "\e662";
}
.icomoon-arrow-down:before {
  content: "\e663";
}
.icomoon-enter:before {
  content: "\e664";
}
.icomoon-exit:before {
  content: "\e665";
}
.icomoon-tick:before {
  content: "\e645";
}
.icomoon-times:before {
  content: "\e646";
}
.icomoon-flow-children:before {
  content: "\e647";
}
.icomoon-backspace:before {
  content: "\e648";
}
.icomoon-cog:before {
  content: "\e649";
}
.icomoon-tags:before {
  content: "\e64a";
}
.icomoon-flow-merge:before {
  content: "\e64b";
}
.icomoon-arrow-minimise-outline:before {
  content: "\e64c";
}
.icomoon-arrow-maximise-outline:before {
  content: "\e64d";
}
.icomoon-bullhorn:before {
  content: "\e64e";
}
.icomoon-chat:before {
  content: "\e64f";
}
.icomoon-comment2:before {
  content: "\e650";
}
.icomoon-rocket:before {
  content: "\e651";
}
.icomoon-bucket:before {
  content: "\e652";
}
.icomoon-new:before {
  content: "\e653";
}
.icomoon-flow-cascade:before {
  content: "\e654";
}
.icomoon-flow-branch:before {
  content: "\e655";
}
.icomoon-flow-tree:before {
  content: "\e656";
}
.icomoon-history:before {
  content: "\e657";
}
.icomoon-help:before {
  content: "\e658";
}
.icomoon-warning:before {
  content: "\e659";
}
.icomoon-erase:before {
  content: "\e65a";
}
.icomoon-twitter2:before {
  content: "\e65b";
}
.icomoon-facebook2:before {
  content: "\e65c";
}
.icomoon-twitter3:before {
  content: "\e65d";
}
.icomoon-facebook3:before {
  content: "\e65e";
}
.icomoon-bell:before {
  content: "\e65f";
}
.icomoon-share:before {
  content: "\e660";
}
.icomoon-directions:before {
  content: "\e661";
}
