<div class="news--release">
	<h2>July 23rd 2013 - Release v1.5</h2>

	<p>This release contains a lot of goodies!</p>
	<ul>
		<li>3 new features (292 votes)</li>
		<li>7 bug fixes (149 votes)</li>
		<li>50 new answers, workarounds, and explanations added to the knowledge-base</li>
	</ul>

	<a href="#">Read more...</a>
</div>