<section class="m-section-new-idea">

    <h1>New Devlog entry</h1>
    <h2>Updates, progress, shoutouts, etc.</h2>

    <form method="POST" class="m-form-simple form-style-1" action="" enctype="multipart/form-data" data-focus-on="input:first">
        <input type="hidden" name="appId" value="{{appId}}" />
        <input type="hidden" name="csrf" value="{{csrf}}" />
        <fieldset>

            <div class="form-group">
                <label for="title">Title:</label>
                <div class="form-line-input">
                    <input class="field" autocomplete="off" type="text"
                           id="title" name="title" tabindex="1"
                           placeholder="Title" value="{{devlog.title}}" />
                </div>
            </div>

            <div class="form-group">
                <label for="select-bugs">Related Ideas:</label>
                <div class="form-multiline-input flat-theme">
                    <input id="select-bugs" name="relatedIdeaIds" placeholder="Link to conversations..    " value="" />
                </div>
            </div>

            <div class="form-group">
                <label for="what">Whats up?:</label>
                <textarea class="field details-field" name="details" rows="6" tabindex="2" id="what"
                          placeholder="Details">{{devlog.description}}</textarea>
            </div>

        </fieldset>

        <div class="form-actions">
            <button type="submit" name="action" value="create" class="m-button"><i class="fa fa-flask"></i> PUBLISH</button>
        </div>
    </form>

</section>

<script src="/js/jquery-1.9.1.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/chosen.jquery.js"></script>
<script src="/js/jquery.localize.js"></script>
<script src="/js/jquery.ui.sortable.js"></script>
<script src="/js/jquery.timeago.js"></script>
<script src="/js/selectize.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {

        var appId = "{{appId}}";

        $('#select-bugs2').selectize({
            //theme: 'buglist',
            plugins: ['remove_button'],
            valueField: 'id',
            labelField: 'id',
            searchField: 'title',
            delimiter: ',',
            create: false,
            persist: true,
            options: [],
            render: {
                option: function(item, escape) {
                    return '<div class="m-select-bug">' +
                            '<div class="header">' +
                                '<span class="title"><i class="fa fa-bug"></i>' + (item.title) + '</span> by ' + escape(item.name) +
                            '</div>' +
                            '<div class="description">'+ (item.description) +'</div>' +
                            '<div class="byline">'+ escape(item.votes) +' upvotes</div>' +
                            '</div>';
                },
                item: function(data, escape) {
                    return '<div class="item"><span class="title">' + escape(data.title) + '</span> by ' + data.name + '</div>'
                }
            },
            load: function(query, callback) {
                if (!query.length) return callback();
                $.ajax({
                    url: '{{urlAjaxBugList}}?q=' + encodeURIComponent(query) + '&appId=' + appId,
                    type: 'GET',
                    error: function() {
                        callback();
                    },
                    success: function(res) {
                        callback(res);
                    }
                });
            }
        });

        var tagger = $('#select-bugs').selectize({
            plugins: ['remove_button', 'optgroup_columns', 'drag_drop'],
            options: [
                // the big split: defect vs improvement
                { id: "system.bug", group: "recommended", label: "Bug (a defect)" },
                { id: "system.request", group: "recommended", label: "Feature (new idea)" },

                { id: "crash", group: "extra", label: "Crash" },
                { id: "visual glitch", group: "extra", label: "Visual Glitch" },
                { id: "gameplay", group: "extra", label: "Gameplay Issue" },
            ],
            optgroups: [
                { id: 'recommended', label: 'Suggestion Type (choose one)' },
                { id: 'extra', label: 'Extra tags' },
            ],
            labelField: 'label',
            valueField: 'id',
            optgroupField: 'group',
            optgroupLabelField: 'label',
            optgroupValueField: 'id',
            searchField: ['label'],
            optgroupOrder: ['recommended', 'extra'],
            delimiter: ',',
            persist: true,
            create: function(input) {
                return {
                    value: input,
                    text: input,
                    group: 'extra',
                    id: input,
                    label: input
                }
            }
        });

    });
</script>
