<div class="m-section-header l-horizontal l-stretch l-pull-right">
    <div>
        <h1>Devlog</h1>
    </div>

    <div class="controls">
        <a href="{{urlNewPost}}" class="m-icon-button edit-button" title="Submit a new post"><i class="icomoon-plus"></i></a>
    </div>
</div>

<div class="suggestions-list">

	{{#suggestions}}
		{{> /Partials/Idea/IdeaListItem }}
	{{/suggestions}}
</div>
