{{#hasSearch}}

{{#hasResults}}

<div class="l-horizontal l-stretch l-pull-right m-buglist-header">
    <div>
        <h1>Search Results</h1>
    </div>
    <div>
    </div>
</div>

<section class="m-buglist">

    <div class="col-lg-12">

        <div class="suggestions-list">

            {{#suggestions}}
                {{> App/Components/BuglistItemStyle1 }}
            {{/suggestions}}
        </div>

    </div>

</section>
{{/hasResults}}

{{/hasSearch}}

{{^hasSearch}}
    <br>
    <h1>Go ahead, search me.</h1>
{{/hasSearch}}