<div class="bootstrap">
    <div class="alert alert-error">
        <strong>Woah there!</strong> You don't have permission to modify this.<br>
        <br>
        <img src="/img/repartee/wS0FxWQ.gif" />
    </div>
</div>